@media (min-width: 576px) {
    
    .title-fresh {
        font-size: 60px;
    }

    .title__paragraph {
        font-size: 17px;
    }

    .title__90 {
        font-size: 50px;
    }
}

@media (min-width: 768px) {    

    .paragraph__fresh {
        width: 50%;
        margin: 0 auto;
    }

    .about {
        padding: 10% 0;
    }

    .about-container-img {
        margin-top: 10%;
    }

    .row__about {
        background-image: none;
    }

    .text-about {
        text-align: left;
        background: none;
    }

    .img-col {
        display: block;
    }

    .img__about {
        display: block;
        width: 100%;
        max-width: 600px;
        height: auto;
        margin: 0 auto;
    }
}

@media (min-width: 1200px) {
    
    /* position for elements */
    
    .position-rel {
        position: relative;
    }
    
    .position-abs {
        position: absolute;
    }
    
    .align__center {
        height: 5em;
        display: flex;
        align-items: center;
        justify-content: center; 
    }
    
    .row__margin {
        margin: 0 5vw 7vh;
    }
    
    .text__bold {
        font-weight: bold;
        font-size: 21px;
    }
    
    /* HEADER-NAVIGATION stile */
    
    .page-header {
        display: block;
        width: 80%;
        margin: 0 auto; 
        padding: 40px 0;
    }

    .header-mobile {
        display: block;
    }

    .page-header-logo {
        width: auto;
        float: left;
        margin-right: 25vw;
        margin-left: 5vw;
    }

    .navigation {
        display: block;
    }

    .navigation-toggle {
        display: none;
    }

    .navigation__menu {
        flex-direction: row;
    }
    
    /* FRESH style */
    
    .fresh {
        width: 25%;
        display: inline-block;
        margin: 8vw 0 0 12vw;
        text-align: justify;
    }
    
    .paragraph__fresh {
        margin: 0;
        width: auto;
    }

    .button-fresh {
        background-color: #FF6033;
        color: white;
        padding: 15px 32px;
        margin: 2vw 0;
    }
    
    .snap {
        display: block;
        height: 45vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    /* ABOUT style */
    
    .about {
        padding: 0;
        background: rgb(0,196,196);
        background: radial-gradient(circle, rgba(0,196,196,1) 0%, rgba(0,194,194,1) 14%, rgba(0,187,187,1) 50%, rgba(0,156,156,1) 100%);
    }
    
    .about-container-img{
        margin: 0;
    }

    .text-about {
        margin: 100px 0px;
    }

    .title__90 {
        font-size: 90px;
    }
    
    /* GALLERY style */
    
    .gallery {
        background-color: #FFE92F;
        min-height: 160vh;
    }
    
    .gallery-prgph {
        margin: 2vh 31vw 5vh;
    }
    
    .button-gallery {
        background-color: #5585A2;
    }
    
    /* SUBSCRIBE style */
    
    .wrapper-mobile-subs {
       width: 50%;
    }

    .paragraph-sssubscribe {
        margin: 20px 0;
    }
    
    .subscribe-text {
        padding-left: 10%;
    }
    
    .row-for-input {
        width: 55vw;
        flex-direction: row;
    }
    
    .input-sub {
        margin: 0;
        width: 74%;
    }
    
    .button-subscribe {
        margin-left: 30px;
    }
    
    /* TOMATOES style */
    
    .title__tomatoes {
        bottom: 30vh;
    }
    
    .button-prgph {
        text-align: left;
    }
    
    /* BLOG style */
    
    .blog {
        background-color: #B07CF7;
    }
    
    .container-blog {
        padding-top: 4vw;
        height: 100vh;
        font-family: 'Raleway', sans-serif;
        color: #ffffff;
    }
    
    .big__blog {
        font-size: 90px;
        font-weight: bold;
        text-align: center;
    }
    
    .card-becgrnd {
        background-color: #B07CF7;
    }
        
    .align__center {
        height: 5em;
        display: flex;
        align-items: center;
        justify-content: center; 
    }
    
    .p-spacing {
        text-align: center;
        display: inline-block;
        padding: 0 20vw;
        letter-spacing: -1px;
    }
    
    .flex-blog {
        display: flex;
        height: 100%;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .flex-blog-text {
        justify-content: space-around;
    }
    
    .flex-blog-number{
        width: 20%;
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.40);
        text-align: center;
    }
    
    .text__nomber {
        font-size: 30px;
    }
    
    /* FOOTER-FORM style */
    
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 7%;
    }
    
    .header-prgph {
        text-align: center;
        padding: 1% 39% 2%;
    }
    
    .wrapper-form {
        height: 880px;
        background-image: url('/foto/form-footer/bg.png');
    }
    
    .container-forms {
        width: 70%;
        margin: auto;
    }
    
    .all-form {
        width: 50%;
    }
    
    .all-form-style {
        background-color: rgb(0, 196, 196);
        border: none;    
        border-left: 5px solid #355c8200; 
        opacity: 0.4;
        color: #ffffff;
        font-weight: bold;
        width: 30vw;
        height: 6vh;
    }
    
    .all-form-style:focus {
        outline: none;
        border-left: 5px solid #355B82; 
        opacity: 1;
    }
    
    .all-form-style::placeholder{
        font-weight: normal;
        color: #ffffff;
    }
    
    .form-textarea {
        max-width: 30vw; 
        min-width: 30vw; 
        height: 250px;
        max-height: 50vh;
    }
    
    .address-col {
        display: flex;
        flex-direction: column;
    }
    
    .end-blog {
        border-top: 1px solid #afafaf;
        background-color: #262626;
        color: #B9B9B9;
        margin: auto;
    }
    
    .row-footer {
        width: 100%;
        padding: 2% 0;
        text-align: center;
        align-items: center;
    }
    
    .end-red-text {
        color: #FF2B58;
    }
    }
    