@media (min-width: 576px) {
    
    .title-fresh {
        font-size: 60px;
    }

    .title__paragraph {
        font-size: 17px;
    }

    .title__90 {
        font-size: 50px;
    }

    .conteiner-gallery {
        width: 90%;
        flex-direction: row;
    }

    .two-img-row {
        flex-direction: row;
    }

    .gallery-img {
        display: block;
        width: 100%;
        max-width: 775px;
        height: auto;
        margin: 0 auto;
    }
    
    .gallery-img-colume {
        width: 100%;
    }
    
    .gallery-img-row {
        width: 50%;
    }

    .container-blog {
        font-size: 1.5rem;
    }

    .card-blog-number {
        width: 4.5rem;
    }

    .cahee-email {
        font-size: 1rem;
    }

    .title-header {
        font-size: 5rem;
    }

    .smoll-footer {
        font-size: inherit;
    }
}

@media (min-width: 768px) {    

    .paragraph__fresh {
        width: 50%;
        margin: 0 auto;
    }

    .about {
        padding: 10% 0;
    }

    .about-container-img {
        margin-top: 10%;
    }

    .row__about {
        background-image: none;
    }

    .text-about {
        text-align: left;
        background: none;
    }

    .img-col {
        display: block;
    }

    .img__about {
        display: block;
        width: 100%;
        max-width: 600px;
        height: auto;
        margin: 0 auto;
    }    

    .container-blog {
        font-size: 1rem;
    }

    .card-blog-number{
        top: 1rem;
        left: 1rem;
        width: 3rem;
    }

    .card-blog-text {
        bottom: 1rem;
        left: 1rem;
    }
}

@media (min-width: 1200px) {
    
    /* position for elements */
    
    .position-rel {
        position: relative;
    }
    
    .position-abs {
        position: absolute;
    }
    
    .row__margin {
        margin: 0 5vw 7vh;
    }
    
    .text__bold {
        font-weight: bold;
        font-size: 21px;
    }
    
    /* HEADER-NAVIGATION stile */
    
    .page-header {
        display: block;
        width: 80%;
        margin: 0 auto; 
        padding: 40px 0;
    }

    .header-mobile {
        display: block;
    }

    .page-header-logo {
        width: auto;
        float: left;
        margin-right: 25vw;
        margin-left: 5vw;
    }

    .navigation {
        display: block;
    }

    .navigation-toggle {
        display: none;
    }

    .navigation__menu {
        display: flex;
        flex-direction: row;
    }
    
    /* FRESH style */
    
    .fresh {
        width: 25%;
        display: inline-block;
        margin: 8vw 0 0 12vw;
        text-align: justify;
    }
    
    .paragraph__fresh {
        margin: 0;
        width: auto;
    }

    .button-fresh {
        background-color: #FF6033;
        color: white;
        padding: 15px 32px;
        margin: 2vw 0;
    }
    
    .snap {
        display: block;
        height: 45vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    /* ABOUT style */
    
    .about {
        padding: 0;
        background: rgb(0,196,196);
        background: radial-gradient(circle, rgba(0,196,196,1) 0%, rgba(0,194,194,1) 14%, rgba(0,187,187,1) 50%, rgba(0,156,156,1) 100%);
    }
    
    .about-container-img{
        margin: 0;
    }

    .text-about {
        margin: 100px 0px;
    }

    .title__90 {
        font-size: 90px;
    }

    /* TOMATOES style */
    
    .title__tomatoes {
        bottom: 30vh;
    }
    
    .button-prgph {
        text-align: left;
    }
    
    /* GALLERY style */
    
    .gallery {
        background-color: #FFE92F;
        min-height: 160vh;
    }
    
    .gallery-prgph {
        padding: 2rem 13rem;
    }
    
    .button-gallery {
        background-color: #5585A2;
    }
    
    /* SUBSCRIBE style */
    
    .wrapper-mobile-subs {
       width: 50%;
    }

    .paragraph-sssubscribe {
        margin: 20px 0;
    }
    
    .subscribe-text {
        padding-left: 10%;
    }
    
    .row-for-input {
        width: 55vw;
        flex-direction: row;
    }
    
    .input-sub {
        margin: 0;
        width: 74%;
    }
    
    .button-subscribe {
        margin-left: 30px;
    }
    
    /* BLOG style */
    
    .big__blog {
        font-size: 90px;
    }
    
    .p-spacing {
        text-align: center;
        display: inline-block;
        padding: 0 20vw;
        letter-spacing: -1px;
    }
    
    .card-blog-number{
        top: 2rem;
        left: 2rem;
        width: 4.5rem;
    }
    
    .card-blog-text {
        position: absolute;
        bottom: 2rem;
        left: 2rem;
    }
    
    .text__nomber {
        font-size: 30px;
    }
    
    /* FOOTER-FORM style */
    
    .header-prgph {
        padding: 1% 39% 2%;
    }
    
    .wrapper-form {
        height: 880px;
    }
    
    .container-forms {
        width: 70%;
        margin: auto;
    }
    
    .all-form {
        width: 100%;
    }
    
    .form-textarea {
        height: 250px;
        max-height: 50vh;
    }
    
    .end-blog {
        border-top: 1px solid #afafaf;
        background-color: #262626;
        color: #B9B9B9;
        margin: auto;
    }
    
    .row-footer {
        width: 100%;
        padding: 2% 0;
        text-align: center;
        align-items: center;
    }
    
    .end-red-text {
        color: #FF2B58;
    }
}
