body {
    font-family: 'Raleway', sans-serif;
}

.blog {
    background-color: #B07CF7;
}

.about {
    position: relative;
    height: 100vh;
    background: rgb(0,196,196);
    background: radial-gradient(circle, rgba(0,196,196,1) 0%, rgba(0,194,194,1) 14%, rgba(0,187,187,1) 50%, rgba(0,156,156,1) 100%);
}

.wrapper {
    top: 0;
    left: 0;
    height: 150vh;  
    background-image: url('/foto/strawberry-correctly.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.container-blog {
    height: 100vh;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    background-color: #B07CF7;
}

.row__margin {
    margin: 0 5vw 7vh;
}

.text__bold {
    font-weight: bold;
    font-size: 21px;
}

.img-bg {
    background-color: none;
}

.card-becgrnd {
    background-color: #B07CF7;
}

.in-center {
    text-align: center;
}

.align__center {
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.p-spacing {
    text-align: center;
    display: inline-block;
    padding: 0 22vw;
    letter-spacing: -1px;
}

.big__blog {
    font-size: 90px;
}

.nomber {
    width: 19%;
    margin: 1vw 1vw 6vw;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.40);
}

.img__text {
    margin-left: -10px;
}

.text__nomber {
    font-size: 30px;
}

.text__bottom {
    margin: 0 2px;
}

.button {
    background-color: #F72B3B;
    border: none;
    color: white;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.button-fresh {
    background-color: #FF6033;
    color: white;
    padding: 15px 32px;
    margin: 2vw 0;
}

.title {
    font-weight: bold;
}

.title__paragraph {
    font-size: 17px;
    line-height: 2;
    margin-top: 2vw;
}

.title__fresh {
    font-size: 60px;
    font-weight: 900;
}

.title__about {
    font-size: 90px;
    color: #ffffff;
}

.page-header {
    width: 80%;
    margin: 0 auto; 
    padding: 40px 0;
}

.navigation__menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

.navigation__item:first-child {
    padding-right: 30vw;
}

.navigation__link {
    display: block;
    padding: 5px 0;
    color: #000000;
    text-decoration: none;
    border-top: 3px solid transparent;
}

.navigation__item--active .navigation__link {
    border-color: #FF6033;
}

.navigation__link:hover {
    border-color: #FF6033;
}

.title__paragraph {
    font-size: 17px;
    line-height: 2;
    margin-top: 2vw;
}

.title__fresh {
    font-size: 60px;
    font-weight: 900;
}

.title__about {
    font-size: 90px;
    color: #ffffff;
}

.fresh {
    width: 25%;
    margin: 8vw 0 0 12vw;
    display: inline-block;
}

.snap {
    height: 45vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.img__about {
    margin-top: 15px;
}

.img__about::before {
    content: "";
    background: url("/foto/cup-raspbery.png");
    background-size: cover;
    position: absolute;
    max-width: 710px;
    max-height: 710px;
    width: 71vw;
    height: 71vw;
    margin-left: -7vw;
}

.paragraph__fresh {
    color: rgba(0, 0, 0, 0.75);
}

.row {
    display: flex;
}

.title__about {
    font-size: 90px;
    color: #ffffff;
}

.paragraph__about {
    color: #ffffff;
}

.row .row__about {
    flex-direction: column;
    width: 35%;
    padding-top: 6vw;
    padding-left: 5vw;
} 
