* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif
}

.blog {
    background-color: #B07CF7;
}

.about {
    position: relative;
    height: 90vh;
    background: rgb(0,196,196);
    background: radial-gradient(circle, rgba(0,196,196,1) 0%, rgba(0,194,194,1) 14%, rgba(0,187,187,1) 50%, rgba(0,156,156,1) 100%);
}

.wrapper {
    top: 0;
    left: 0;
    height: 150vh;  
    background-image: url('/foto/strawberry-correctly.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.container-blog {
    padding-top: 4vw;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    background-color: #B07CF7;
}

.row__margin {
    margin: 0 5vw 7vh;
}

.text__bold {
    font-weight: bold;
    font-size: 21px;
}

.img-bg {
    background-color: none;
}

/* HEADER-NAVIGATION stile */

.page-header {
    width: 80%;
    margin: 0 auto; 
    padding: 40px 0;
}

.navigation__menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

.navigation__item:first-child {
    padding-right: 30vw;
}

.navigation__link {
    display: block;
    padding: 5px 0;
    color: #000000;
    text-decoration: none;
    border-top: 3px solid transparent;
}

.navigation__item--active .navigation__link {
    border-color: #FF6033;
}

.navigation__link:hover {
    border-color: #FF6033;
    color: #000000;
}

/* FRESH style */

.fresh {
    width: 25%;
    margin: 8vw 0 0 12vw;
    display: inline-block;
}

.title__fresh {
    font-size: 60px;
    font-weight: 900;
}

.title__paragraph {
    font-size: 17px;
    line-height: 2;
    margin-top: 2vw;
}

.paragraph__fresh {
    color: rgba(0, 0, 0, 0.75);
}

.button-fresh {
    background-color: #FF6033;
    color: white;
    padding: 15px 32px;
    margin: 2vw 0;
}

.snap {
    height: 45vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

/* ABOUT style */

.title__about {
    font-size: 90px;
    color: #ffffff;
}

.paragraph__about {
    color: #ffffff;
}

.row .row__about {
    flex-direction: column;
    width: 35%;
    padding-top: 11vw;
    padding-left: 5vw;
} 

.img__about {
    margin-top: 15px;
}

.img__about::before {
    content: "";
    background: url("/foto/cup-raspbery.png");
    background-size: cover;
    position: absolute;
    max-width: 710px;
    max-height: 710px;
    width: 71vw;
    height: 71vw;
    margin-left: -7vw;
}

/* BLOG style */

.big__blog {
    font-size: 90px;
    font-weight: bold;
    text-align: center;
}

.card-becgrnd {
    background-color: #B07CF7;
}

.title {
    font-weight: bold;
}

.align__center {
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.p-spacing {
    text-align: center;
    display: inline-block;
    padding: 0 20vw;
    letter-spacing: -1px;
}

.flex-blog {
    display: flex;
    height: 100%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.flex-blog-text {
    justify-content: space-around;
}

.flex-blog-number{
    width: 20%;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.40);
    text-align: center;
}

.text__nomber {
    font-size: 30px;
}

/* BUTTONS style */

.button {
    background-color: #F72B3B;
    border: none;
    color: white;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.align__center {
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center; 
}

/* FOOTER-FORM style */

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7%;
}

.header-prgph {
    text-align: center;
    padding: 1% 40% 2%;
}

.form {
    min-height: 130vh;
    background-image: url('/foto/form-footer/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.conainer-forms {
    width: 70%;
    margin: auto;
}

.all-form {
    width: 50%;
}

.all-form-style {
    background-color: rgb(0, 196, 196);
    border: none;    
    border-left: 5px solid #355c8200; 
    opacity: 0.4;
    color: #ffffff;
    font-weight: bold;
    width: 30vw;
    height: 6vh;
}

.all-form-style:focus {
    outline: none;
    border-left: 5px solid #355B82; 
    opacity: 1;
}

.all-form-style::placeholder{
    font-weight: normal;
    color: #ffffff;
}

.form-textarea {
    max-width: 30vw; 
    min-width: 30vw; 
    height: 250px;
    max-height: 50vh;
}

.address-col {
    display: flex;
    flex-direction: column;
}

.end-blog {
    border-top: 1px solid #afafaf;
    background-color: #262626;
    color: #B9B9B9;
    margin: auto;
}

.row-footer {
    width: 100%;
    padding: 2% 0;
    text-align: center;
    align-items: center;
}

.end-red-text {
    color: #FF2B58;
}
